# Laravel
/vendor
/node_modules
.env
.env.*
/storage/*
!/storage/.gitignore
/storage/*.key
/bootstrap/cache

# Frontend
/public/build
/public/hot

# Media & assets (IMPORTANT)
/public/img/
/public/videos/
/public/assets/img/
/public/assets/gallery/
/public/assets/home/
/public/assets/videos/
/public/assets/product/
/public/assets/products/
/public/assets/product_gallery/
/public/assets/project_images/
/public/assets/projects/
/public/assets/reviews/
/public/uploads/
/public/media/
/public/images/

# Logs & cache
.phpunit.result.cache
/.phpunit.cache
npm-debug.log
yarn-error.log

# IDEs
/.idea
/.vscode
/.fleet

# Homestead
Homestead.json
Homestead.yaml
auth.json
