# Laravel
/vendor
/node_modules
.env
.env.*
/storage
/storage/*.key
/bootstrap/cache

# Frontend
/public/build
/public/hot

# Media & assets (IMPORTANT)
/public/assets
/public/videos
/public/uploads
/public/media
/public/images

# Logs & cache
.phpunit.result.cache
/.phpunit.cache
npm-debug.log
yarn-error.log

# IDEs
/.idea
/.vscode
/.fleet

# Homestead
Homestead.json
Homestead.yaml
auth.json
